.content { margin-top:44px; background-image: url(bg.jpg); min-height: 100%;}
.header {padding:15px; position:fixed; top:0; width:100%; z-index:9999; }

.right-title { width:250px; ; text-align:right; float:right; color:#FFF; margin-right:10px; }
.quiz-body { margin-top:15px; padding-bottom:50px; }
.option-block-container { margin-top:20px; max-width:420px; }
.option-block { padding:25px; background: white; border:1px solid black;  border-radius: 45px; margin-bottom:10px; cursor:pointer; }
.result-question { font-weight:bold; }
.c-wrong { margin-left:20px; color:#FF0000; }
.c-correct {  margin-left:20px; color:green; }
.last-row { border-bottom:1px solid #ccc; padding-bottom:25px; margin-bottom:25px; }
.res-header { border-bottom:1px solid #ccc; margin-bottom:15px; padding-bottom:15px; }

.img {filter: invert(100%); width:120px; -webkit-filter: invert(100%); float:left; 
}

.quiz-text{font-family: "Jost";
 display: grid;
    align-content: center;
    text-align: center;
       width: 70%;
    margin: 0 auto;
}

.bottons {
display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;
}

.option-block:hover {border:3px solid black;}

.btn-success { padding:10px; background:#25a846;  border:1px solid #84c5fe;  border-radius: 25px; margin-bottom:10px; cursor:pointer;  max-width:420px;  }
.previous-btn{ padding:10px; background:#25a846;  border:1px solid #84c5fe;  border-radius: 25px; margin-bottom:10px; cursor:pointer; color: white; }  
#question {
  font-size: 19px; font-family: "Roboto", sans-serif; /* Adjust the font size as needed */
}
#question-options {
  font-size: 19px bold; font-family: "Roboto", sans-serif; font-weight: bold; /* Adjust the font size as needed */
}
.js-quiz { background:lightgray;   padding:0px; text-align:center; width:160px; color:#FFF; font-size:38px;  border-radius: 55px; margin: 25px auto 10px auto; font-weight: bold;}
